body {
    width: 100%;
    height: 100%;
}

.cont {
    width: 800px;
    margin: 10px auto;
    padding: 50px 50px 50px 50px;
    border: solid white 1px;
    background-color: darkslategrey;
}

.map {
    border: solid black 3px;
}

.logo {
    margin-bottom: 15px;
}
