body {
}

.cont {
    width: 800px;
    margin: 10px auto;
    padding: 50px 50px 50px 50px;
    border: solid white 1px;
}

#map {
    height: 400px;
    width: 100%;
}

.logo {
    margin-bottom: 15px;
}